
.open-button {
    padding: 3px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    color: #000;
    z-index: 1000;
  border: none;
  border-radius: 45px;
  
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
  .open-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }