<section #background class="background">
  <ul class="box_area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <button (click)="onBackPress()" class="btn menuBtn">Go Back</button>
      </li>
      <!-- <li class="nav-item">
            <a class="nav-link" href="#">Nav 2</a>
        </li> -->
    </ul>
  </nav>
  <div class="content container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <p-panel header="Personal Details" [toggleable]="true">
          <form [formGroup]="addUser">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <span for="name" class="form__lable">Profile Pic</span>
     
                <label> 
                  <input   type="file"  (change)="handleFileInput($event)" name="profile" placeholder="">
                
                </label>              
            </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Full Name <span style="color: red;">(*)</span></span>
                <input
                  required
                  class="form-control"
                  formControlName="name"
                  [class]="
                    addUser.controls['name'].invalid &&
                    (addUser.controls['name'].touched ||
                      addUser.controls['name'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  type="text"
                  id="addUser.name"
                  placeholder="Full Name (*)"
                />
                <small
                  *ngIf="
                    addUser.controls['name'].invalid &&
                    (addUser.controls['name'].touched ||
                      addUser.controls['name'].dirty)
                  "
                  class="p-error"
                  ><strong>Name is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Father Name </span>
                <input
                  class="form-control"
                  formControlName="fatherName"
                  [class]="
                    addUser.controls['fatherName'].invalid &&
                    (addUser.controls['fatherName'].touched ||
                      addUser.controls['fatherName'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  type="text"
                  id="addUser.fatherName"
                  placeholder="Father Name"
                />
                <small
                  *ngIf="
                    addUser.controls['fatherName'].invalid &&
                    (addUser.controls['fatherName'].touched ||
                      addUser.controls['fatherName'].dirty)
                  "
                  class="p-error"
                  ><strong>Father Name is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Email 
                  <!-- <span style="color: red;">(*)</span>
                  
                  [class]="
                    addUser.controls['email'].invalid &&
                    (addUser.controls['email'].touched ||
                      addUser.controls['email'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  -->
                </span>
                <input
                  
                  class="form-control"
                  formControlName="email"
                  
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  type="text"
                  id="addUser.email"
                  placeholder="Email (*)"
                />
                <!-- <small
                  *ngIf="
                    addUser.controls['email'].invalid &&
                    (addUser.controls['email'].touched ||
                      addUser.controls['email'].dirty)
                  "
                  class="p-error"
                  ><strong><b>Email is Required or Invalid !</b></strong></small 
                >-->
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Address</span>

                <input
                  class="form-control"
                  formControlName="address"
                  type="text"
                  id="addUser.address"
                  placeholder="Address"
                />
                <small
                  *ngIf="
                    addUser.controls['address'].invalid &&
                    (addUser.controls['address'].touched ||
                      addUser.controls['address'].dirty)
                  "
                  class="p-error"
                  ><strong>Address is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Phone Number <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  onkeydown="return event.keyCode!==69"
                  onkeypress="if(this.value.length==10)return false"
                  formControlName="phone"
                  [class]="
                    addUser.controls['phone'].invalid &&
                    (addUser.controls['phone'].touched ||
                      addUser.controls['phone'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  required
                  minlength="10"
                  type="number"
                  placeholder="Enter Phone Number (*)"
                />
                <small
                  *ngIf="
                    addUser.controls['phone'].invalid &&
                    (addUser.controls['phone'].touched ||
                      addUser.controls['phone'].dirty)
                  "
                  class="p-error"
                  ><strong
                    >Phone No. is Required or Length must be 10</strong
                  ></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Aadhar Number </span>

                <input
                  class="form-control"
                  onkeydown="return event.keyCode!==69"
                  onkeypress="if(this.value.length==12)return false"
                  formControlName="aadharNo"
                  [class]="
                    addUser.controls['aadharNo'].invalid &&
                    (addUser.controls['aadharNo'].touched ||
                      addUser.controls['aadharNo'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  minlength="10"
                  type="number"
                  placeholder="Enter Aadhar Number"
                />
                <small
                  *ngIf="
                    addUser.controls['aadharNo'].invalid &&
                    (addUser.controls['aadharNo'].touched ||
                      addUser.controls['aadharNo'].dirty)
                  "
                  class="p-error"
                  ><strong
                    >Aadhar No. is Required or Length must be 12</strong
                  ></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>DOB <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  formControlName="dob"
                  [class]="
                    addUser.controls['dob'].invalid &&
                    (addUser.controls['dob'].touched ||
                      addUser.controls['dob'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  required
                  type="date"
                  placeholder="(*)"
                />

                <small
                  *ngIf="
                    addUser.controls['dob'].invalid &&
                    (addUser.controls['dob'].touched ||
                      addUser.controls['dob'].dirty)
                  "
                  class="p-error"
                  ><strong>DOB Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Course</span>

                <input
                  class="form-control"
                  formControlName="course"
                  type="text"
                  id="addUser.course"
                  placeholder="Course"
                />
                <small
                  *ngIf="
                    addUser.controls['course'].invalid &&
                    (addUser.controls['course'].touched ||
                      addUser.controls['course'].dirty)
                  "
                  class="p-error"
                  ><strong>Course is Required !</strong></small
                >
              </div>
            </div>
          </form>
        </p-panel>
        
      </div>
    </div>
    <div class="row mt-4 ">
      <div class="col-12 mb-4">
        <p-panel header="Slot Details" [toggleable]="true">
          <form [formGroup]="slots">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-sm-12 col-12 mt-3">
                <span>Select Number of Slot <span style="color: red;">(*)</span></span>                           
                <select  [ngModelOptions]="{standalone: true}"   [(ngModel)]="noOfSlot"  class="custom-select">
                  <option disabled selected>Open this select menu</option>
                  <option value=1>One</option>
                  <option value=2>Two</option>
                  <option value=3>Three</option>
                </select>

              </div>
              <div></div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3" *ngFor="let item of [].constructor(+noOfSlot); index as i " style="display: flex;">
                <div class="col-6">
          
                <span>From</span>
                  <p-calendar  [ngModelOptions]="{standalone: true}" [(ngModel)]="startTime[i]" [timeOnly]="true" [hourFormat]="'12'" inputId="timeonly"></p-calendar>
                </div>
                <div class="col-6">
                  <span>To</span>
                  <p-calendar  [ngModelOptions]="{standalone: true}" [(ngModel)]="endTime[i]" [timeOnly]="true" [hourFormat]="'12'" inputId="timeonly"></p-calendar>
                </div>
            
                </div>
              <div></div>
                <!-- <button (click)="change()">check</button> -->
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Start Date <span style="color: red;">(*)</span></span>
                <input
                  required
                  class="form-control"
                  formControlName="startDate"
                  [class]="
                    slots.controls['startDate'].invalid &&
                    (slots.controls['startDate'].touched ||
                      slots.controls['startDate'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  type="date"
                  id="slots.startDate"
                  placeholder="Full Name (*)"
                />
                <small
                  *ngIf="
                    slots.controls['startDate'].invalid &&
                    (slots.controls['startDate'].touched ||
                      slots.controls['startDate'].dirty)
                  "
                  class="p-error"
                  ><strong>Start Date is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>End Date <span style="color: red;">(*)</span></span>

                <input
           
                  class="form-control"
                  formControlName="endDate"
                  [class]="
                    slots.controls['endDate'].invalid &&
                    (slots.controls['endDate'].touched ||
                      slots.controls['endDate'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  [min]="getStartDate"
                  type="date"
                  id="slots.endDate"
                  placeholder="endDate"
                />
                <small
                  *ngIf="
                    slots.controls['endDate'].invalid &&
                    (slots.controls['endDate'].touched ||
                      slots.controls['endDate'].dirty)
                  "
                  class="p-error"
                  ><strong>End Date is Required !</strong></small
                >
              </div>
          
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Amount <span style="color: red;">(*)</span></span>

                <input
                  required
                  class="form-control"
                  formControlName="amount"
                  [class]="
                    slots.controls['amount'].invalid &&
                    (slots.controls['amount'].touched ||
                      slots.controls['amount'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  onkeydown="return event.keyCode!==69"
                  type="number"
                  id="slots.amount"
                  placeholder="Enter Amount (*)"
                />
                <small
                  *ngIf="
                    slots.controls['amount'].invalid &&
                    (slots.controls['amount'].touched ||
                      slots.controls['amount'].dirty)
                  "
                  class="p-error"
                  ><strong><b>Amount is Required !</b></strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Due Amount <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  formControlName="dueAmount"
                  type="number"
                  [class]="
                  slots.controls['dueAmount'].invalid &&
                  (slots.controls['dueAmount'].touched ||
                    slots.controls['dueAmount'].dirty)
                    ? 'is-invalid'
                    : ''
                "
                  onkeydown="return event.keyCode!==69"
                  id="slots.dueAmount"
                  placeholder="Due Amount"
                />
                <small
                  *ngIf="
                    slots.controls['dueAmount'].invalid &&
                    (slots.controls['dueAmount'].touched ||
                      slots.controls['dueAmount'].dirty)
                  "
                  class="p-error"
                  ><strong>Due Amount is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Due Date <span style="color: red;">(*)</span></span>

                <input
           
                  class="form-control"
                  formControlName="dueDate"
                  [class]="
                    slots.controls['dueDate'].invalid &&
                    (slots.controls['dueDate'].touched ||
                      slots.controls['dueDate'].dirty)
                      ? 'is-invalid'
                      : ''
                  "
                  [min]="getStartDate"
                  type="date"
                  id="slots.dueDate"
                  placeholder="dueDate"
                />
                <small
                  *ngIf="
                    slots.controls['dueDate'].invalid &&
                    (slots.controls['dueDate'].touched ||
                      slots.controls['dueDate'].dirty)
                  "
                  class="p-error"
                  ><strong>Due Date is Required !</strong></small
                >
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Paid Amount <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  formControlName="paidAmount"
                  type="number"
                  [class]="
                  slots.controls['paidAmount'].invalid &&
                  (slots.controls['paidAmount'].touched ||
                    slots.controls['paidAmount'].dirty)
                    ? 'is-invalid'
                    : ''
                "
                  onkeydown="return event.keyCode!==69"
                  id="slots.dueAmount"
                  placeholder="Paid Amount"
                />
                <small
                  *ngIf="
                    slots.controls['paidAmount'].invalid &&
                    (slots.controls['paidAmount'].touched ||
                      slots.controls['paidAmount'].dirty)
                  "
                  class="p-error"
                  ><strong>Paid Amount is Required !</strong></small
                >
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12 col-12 mt-3">
                <span>Discount <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  formControlName="discount"
                  type="number"
                  [class]="
                  slots.controls['discount'].invalid &&
                  (slots.controls['discount'].touched ||
                    slots.controls['discount'].dirty)
                    ? 'is-invalid'
                    : ''
                "
                  onkeydown="return event.keyCode!==69"
                  id="slots.discount"
                  placeholder="Discount"
                />
                <small
                  *ngIf="
                    slots.controls['discount'].invalid &&
                    (slots.controls['discount'].touched ||
                      slots.controls['discount'].dirty)
                  "
                  class="p-error"
                  ><strong>Discount is Required !</strong></small
                >
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12 col-12 mt-3">
                <span>Enrollment Amount <span style="color: red;">(*)</span></span>

                <input
                  class="form-control"
                  formControlName="enrollmentAmount"
                  type="number"
                  [class]="
                  slots.controls['enrollmentAmount'].invalid &&
                  (slots.controls['enrollmentAmount'].touched ||
                    slots.controls['enrollmentAmount'].dirty)
                    ? 'is-invalid'
                    : ''
                "
                  onkeydown="return event.keyCode!==69"
                  id="slots.enrollmentAmount"
                  placeholder="Enrollment Amount"
                />
                <small
                  *ngIf="
                    slots.controls['enrollmentAmount'].invalid &&
                    (slots.controls['enrollmentAmount'].touched ||
                      slots.controls['enrollmentAmount'].dirty)
                  "
                  class="p-error"
                  ><strong>Enrollment Amount is Required !</strong></small
                >
              </div>
              <div class="col-lg-2 col-md-6 col-sm-12 col-12 mt-3">
                <span>Select Payment Mode <span style="color: red;">(*)</span></span>                           
                <select  formControlName='paymentMode'  class="custom-select">
                  <option disabled selected>Select from below option</option>
                  <option value='Cash'>Cash</option>
                  <option value='Paytm'>Paytm</option>
                  <option value='PhonePe'>PhonePe</option>
                </select>

              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-3">
                <span>Description</span>

                <input
                  class="form-control"
                  formControlName="description"
                  type="text"
                  [class]="
                  slots.controls['description'].invalid &&
                  (slots.controls['description'].touched ||
                    slots.controls['description'].dirty)
                    ? 'is-invalid'
                    : ''
                "
                  
                  id="slots.description"
                  placeholder="Description"
                />
                <small
                  *ngIf="
                    slots.controls['description'].invalid &&
                    (slots.controls['description'].touched ||
                      slots.controls['description'].dirty)
                  "
                  class="p-error"
                  ><strong>Discount is Required !</strong></small
                >
              </div>
              <button (click)='onSubmit()' [disabled]="addUser.invalid || slots.invalid || noOfSlot==0 || startTime.length!=noOfSlot || endTime.length!=noOfSlot" class="btn menuBtn mt-3">Save</button>
    
         
             
            </div>
          </form>
        </p-panel>
      </div>
    </div>
 
  </div>
</section>
<p-toast position="top-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
