/* Add application styles & imports to this file! */

/*
    DEMO STYLE
*/
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  background: linear-gradient(to left, #e6acff, rgb(201, 121, 51));
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 8px 5px;
  background-color: #11101d !important;
  border: none;
  /* margin-left: 100px; */
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
  /* overflow: hidden; */
}

#sidebar {
  min-width: 250px;
  max-width: 250px;

  /* position: fixed;
    height: 100vh;
  
    z-index: 1200; */
  background: #11101d;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #11101d;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: black;
  background: sandybrown;
  /* border-bottom:  2px solid black; */
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
h6 {
  word-break: break-all;
}

#content {
  width: 100vw;
  overflow: hidden;
  /* padding: 20px; */
  /* margin-left: 100px; */
  min-height: 100vh;
  transition: all 0.3s;
  background-color: rgba(219, 219, 219, 0.5);
  /* background: linear-gradient(to left,#e6acff,rgb(201, 121, 51)); */
}
/* #sidebar.active #content{
    margin-left: 250px;
    
} */
/* ---------------------------------------------------
    testimonial
----------------------------------------------------- */
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  /* text-shadow: 1px 1px 0 #fff; */
  cursor: pointer;
  white-space: nowrap;
  font-family: "Nunito", sans-serif;

  padding: 0;
  margin: 10px;
}
.testimonial-group > .row > .hor {
  display: inline-block;
  padding: 0;
  margin: 10px;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal {
  background: sandybrown;
  border-radius: 10px;
}
/* Decorations */
.hor {
  color: #11101d;
  font-size: 15px;
}

/* ---------------------------------------------------
    card
----------------------------------------------------- */

.card {
  margin: 0;
  padding: 0;
  /* background: #11101d; */
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
.card-body {
  margin: 0;
  font-family: "Nunito", sans-serif;

  padding: 5px;
}
.card-text {
  background: sandybrown;
  color: #11101d;
  font-family: "Nunito", sans-serif;
}


.cssui-usercard {
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  background-color: #fff;
  margin: 1rem auto 1rem;
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 641px) {
  .cssui-usercard {
    width: 23rem;
  }
}

@media screen and (max-width: 640px) {
  .cssui-usercard {
    width: 100%;
  }
}

.cssui-usercard__body {
  padding-bottom: 0.1rem;
  flex-grow: 2;
  color: #000;
}

.cssui-usercard__header {
  padding: 1rem 1% 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  /* background:linear-gradient(to right,#d4dcf8, rgb(255, 212, 184) );; */
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background: sandybrown; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffedbc,
    sandybrown
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffedbc,
    sandybrown
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #11101d;
  /* color:sandybrown; */
}

::ng-deep .p-carousel,
.p-carousel-content {
  /* background: linear-gradient(to right,#d4dcf8, rgb(255, 212, 184) ); */
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  background: sandybrown; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffedbc,
    sandybrown
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffedbc,
    sandybrown
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color:#ff000081 */

}

.cssui-usercard__avatar {
  border-radius: 50%;
  border: 4px solid #c0e8fa;
  box-sizing: border-box;
  margin-right: 4%;
  background: white;
  width: 5rem;
  height: 5rem;
  z-index: 5;
  transition: 1s ease-in-out;
}
.cssui-usercard__avatar:hover {
  transform: scale(245%);
  z-index: 5;
}

.cssui-usercard__name {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.cssui-usercard__name-label {
  font-weight: 700;
}

.cssui-usercard__post {
  display: block;
}

.cssui-usercard__title {
  padding: 0 1% 0.2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
  color: sandybrown;
  background-color: #11101d;
}

.cssui-usercard__footer {
  padding: 0.5rem 2%;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  background-color: #11101d;
  color: sandybrown;
}

.cssui-icon {
  /* width: 2em;
    height: 2em; */
  font-size: x-large;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.cssui-social {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.cssui-social__name {
  position: absolute;
  left: -9999px;
}

.cssui-usercard__social {
  margin-right: 0.6rem;
  font-size: 0.8rem;
}

.cssui-usercard__social:last-child {
  margin-right: 0;
}

@media screen and (min-width: 981px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 641px) and (max-width: 980px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(29deg, #512da8 50%, #673ab7 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 640px) {
  .footer {
    font-size: 1.4rem;
  }
}

.footer__container {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .card-title {
    font-size: 12px;
    word-break: break-all;
  }

  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  /* #content.active {
        margin-left: 0 !important;
    } */
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

 .p-dialog-header{

}
::ng-deep .p-dialog .p-dialog-header{
    background: linear-gradient(to left,#e6acff,rgb(201, 121, 51)) !important;
    color: white;
}
::ng-deep .p-dialog .p-dialog-content{
    background: linear-gradient(to left,#e6acff,rgb(201, 121, 51)) !important;
    color: white !important;
    padding: 0!important;
}
/* ::ng-deep .p-datatable .p-datatable-thead > tr >th{
    background: rgba(245, 244, 244, 0.5);
    color: rgb(0, 0, 0) !important;
}
::ng-deep .p-datatable .p-datatable-tbody > tr{
    
    color: rgb(0, 0, 0) !important;
}
::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon{
    color: black !important;
} */
/* a{color: white;} */
::ng-deep .p-dialog{
   
        transition: none !important;
        transform: none !important;
        width: 100vw !important;
        height: 100vh!important;
        top: 0!important;
        left: 0!important;
        max-height: 100% !important;
        height: 100% !important;
    
}
::ng-deep .p-datatable .p-datatable-tbody > tr{
  color: white !important;
  }
  ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: rgba(0, 0, 0, 0.5) !important;
    color: white!important;
  }
  ::ng-deep .p-datatable .p-datatable-header{
    background: rgba(0, 0, 0, 0.5)!important;
    color: white!important;
  
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    background: rgba(0, 0, 0, 0.5)!important;
    color: white!important;
  
  }
  ::ng-deep .p-paginator{
    background: rgba(0, 0, 0, 0.5)!important;
    color: white!important;
  
  
  }
  a{color: white !important;}
  ::ng-deep .p-paginator .p-paginator-current {
    color: white!important;
  }
  ::ng-deep .p-paginator .p-paginator-first{ color:white !important}
  ::ng-deep .p-paginator .p-paginator-prev{ color:white !important}
  ::ng-deep .p-paginator .p-paginator-next{ color:white !important}
  ::ng-deep .p-paginator .p-paginator-last{ color:white !important}
  ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon{color:white !important}
  ::ng-deep .p-button.p-button-text.p-button-plain{color:white !important}
  ::ng-deep .p-inputtext {
    font-family: "Nunito", sans-serif;
    margin-right: 8px;
    box-shadow: none;
    width: 100%;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 0;
    
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.2)  ;
    text-shadow: none !important;
  }