<p-toast position="top-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <h3>SHL</h3>
      <strong>SHL</strong>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
          <i class="fa fa-home"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/staffDetail']" routerLinkActive="router-link-active" >
          <i class="fa fa-user"></i>
          Manage Staff
        </a>
        <a [routerLink]="['/manageWebsite']" routerLinkActive="router-link-active">
          <i class="fa fa-copy"></i>
          Website Config
        </a>
        <a [routerLink]="['/payment']" routerLinkActive="router-link-active" >
          <!-- <i class="fa fa-rupe"></i> -->
          <i class="fa fa-dollar"></i>
          Payment
        </a>
        <a  (click)="logout()">
          <i class="bx bx-log-out"  id="logout"></i>
          Logout
        </a>
        <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Send Sms</a>
                  </li>
                  <li>
                      <a href="#">Create Group</a>
                  </li>
                  <li>
                      <a href="#">Create Single Contact</a>
                  </li>
              </ul> -->
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="active">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          class="btn menuBtn d-lg-none"
        >
          <i class="fa fa-align-left"></i>
          <!-- <span>Menu</span> -->
        </button>
        <button
          title="Add Student"
          [routerLink]="['/addUser']"
          routerLinkActive="router-link-active"
          class="btn menuBtn"
        >
          <i class="pi pi-user-plus"></i>
        </button>
        <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button> -->

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Page</a>
                      </li>
                  </ul>
              </div> -->
      </div>
    </nav>
    <section *ngIf="loading" id="loader">
      <div class="content_loader">
        <h2>SHL</h2>
        <h2>SHL</h2>
      </div>
    </section>

    <div style="margin-top: 0px" *ngIf="!loading">
      <div class="testimonial-group">
        <div class="row text-center">
          <div
            *ngFor="let item of list; index as i"
            class="col-lg-2 col-md-3 col-sm-4 col-4 hor"
          >
            <div
              (click)="filter(i)"
              [ngStyle]="{ border: item.selected ? '2px solid #11101d' : '' }"
              class="card text-center"
            >
              <!-- <img class="card-img-top" src="holder.js/100px180/" alt=""> -->
              <div class="card-body">
                <h4 class="card-title">{{ item.title }}</h4>
                <p class="card-text">{{ item.count }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="mx-3">
            <input type="search" placeholder="Search" [(ngModel)]="search">
          </div>
          <div
            *ngFor="let student of studentsData['docs']|filter:search"
            class="col-lg-4 col-md-6 col-sm-12 col-12"
          >
            <article class="cssui-usercard">
              <div class="cssui-usercard__body">
                <header [ngStyle]="{background: student?.slots[0].isActive != 'ACTIVE'?'linear-gradient(to right, #ff000073, sandybrown)':'linear-gradient(to right, #4b742073, sandybrown)'}" class="cssui-usercard__header">

                  <img *ngIf="!student?.image"
                    src="../../assets/libraryImage/logo.png"
                    class="cssui-usercard__avatar"
                    alt="Avatar"
                  />
                  <img *ngIf="student?.image"
                  src="{{url}}{{student?.image}}"
                  class="cssui-usercard__avatar"
                  alt="Avatar"
                />
                  <div class="cssui-usercard__header-info">
                    <h3 class="cssui-usercard__name">
                      <span class="cssui-usercard__name-label">{{
                        student?.name
                      }}</span>
                    </h3>
                    <span class="cssui-usercard__post"
                      >Reg No: {{ student?.regNo }}</span
                    >
                  </div>
                </header>
                <div class="cssui-usercard__content">
                  <div class="cssui-slider">
                    <div class="cssui-slider__slides">
                      <p-carousel [circular]="true" [value]="sliderArray">
                        <ng-template let-item pTemplate="item">
                          <div
                            style="
                              text-align: center;
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                            "
                          >
                            <h4
                              style="
                                background-color: #11101d;
                                color: sandybrown;
                              "
                            >
                              {{ item }}
                            </h4>
                            <div class="row mt-4">
                              <div
                                *ngIf="item == 'Slots Detials'"
                                class="col-6"
                              >
                                <h5><strong>Start Date</strong></h5>
                                <h6>
                                  {{
                                    student?.slots[0]?.startDate
                                      | date: "dd/MM/yyyy"
                                  }}
                                </h6>
                              </div>
                              <div
                                *ngIf="item == 'Slots Detials'"
                                class="col-6"
                              >
                                <h5><strong>End Date</strong></h5>
                                <h6>
                                  {{
                                    student?.slots[0]?.endDate
                                      | date: "dd/MM/yyyy"
                                  }}
                                </h6>
                              </div>
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>Amount</strong></h5>
                                <h6>{{ student?.slots[0]?.amount }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>Paid Amount</strong></h5>
                                <h6>{{ student?.slots[0]?.paidAmount }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>Email</strong></h5>
                                <h6>{{ student?.email }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>Phone</strong></h5>
                                <h6>{{ student?.phone }}</h6>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div
                                *ngIf="item == 'Slots Detials'"
                                class="col-12"
                              >
                                <h5><strong>Timing</strong></h5>
                                <h6>{{ student?.slots[0]?.slotTiming }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>Due Amount</strong></h5>
                                <h6>{{ student?.slots[0]?.dueAmount }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>Discount</strong></h5>
                                <h6>{{ student?.slots[0]?.discount }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>DOB</strong></h5>
                                <h6>{{ student?.dob | date: "dd/MM/yyyy" }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>Address</strong></h5>
                                <h6>{{ student?.address }}</h6>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div
                                *ngIf="item == 'Slots Detials'"
                                class="col-6"
                              >
                                <h5><strong>See All Slots</strong></h5>
                                <button (click)='selectUser(student?.slots,student?._id)' class="btn menuBtn">Click Here</button>
                              </div>
                              <!-- <div *ngIf="item=='Slots Detials'" class="col-6">
                                <h5> <strong>End Date</strong> </h5>
                                <h6>05/01/2022</h6>
                              </div> -->
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>Invoice No</strong></h5>
                                <h6>{{ student?.slots[0]?.invoiceNo }}</h6>
                              </div>
                              <div
                                *ngIf="item == 'Payment Details'"
                                class="col-6"
                              >
                                <h5><strong>All Invoice</strong></h5>
                                <button (click)='selectUser(student?.slots,student?._id)' class="btn menuBtn">Click Here</button>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>Course</strong></h5>
                                <h6 *ngIf="student?.course">
                                  {{ student?.course }}
                                </h6>
                                <h6 *ngIf="!student?.course">-</h6>
                              </div>
                              <div
                                *ngIf="item == 'Personal Details'"
                                class="col-6"
                              >
                                <h5><strong>Aadhar No.</strong></h5>
                                <h6 *ngIf="student?.aadharNo">
                                  {{ student?.aadharNo }}
                                </h6>
                                <h6 *ngIf="!student?.aadharNo">-</h6>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-carousel>
                    </div>
                  </div>
                </div>
              </div>
              <footer class="cssui-usercard__footer">
                <a
                  [routerLink]="['/editUser', student?._id]"
                  routerLinkActive="router-link-active"
                  title="Edit Profile"
                  class="cssui-social cssui-usercard__social"
                >
                  <!-- <i class="cssui-icon fa fa-edit "></i> -->
                  <i class="cssui-icon pi pi-user-edit"></i>
                </a>
                <a
                  [routerLink]="['/editslot', 'renew', student?._id]"
                  routerLinkActive="router-link-active"
                  *ngIf="student?.slots[0].isActive != 'ACTIVE'"
                  href=""
                  title="Renew Slot"
                  class="cssui-social cssui-usercard__social"
                >
                  <svg
                    class="cssui-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-arrow-repeat"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
                    />
                  </svg>
                </a>
                <a
                  *ngIf="student?.slots[0].isActive == 'ACTIVE'"
                  [routerLink]="['/editslot', 'edit', student?.slots[0]._id]"
                  routerLinkActive="router-link-active"
                  title="Upgrade Slot"
                  class="cssui-social cssui-usercard__social"
                >
                  <i class="cssui-icon fa fa-edit"></i>
                </a>
                <a
                  href="#0"
                  title="Add Bill"
                  class="cssui-social cssui-usercard__social"
                >
                  <i class="cssui-icon fa fa-plus"></i>
                </a>
              </footer>
            </article>
          </div>

          <div class="row card">
            <div
              class="col-12 card-body"
              style="
                display: flex;
                justify-content: space-evenly;
                align-items: center;
              "
            >
              <button
                [disabled]="!studentsData?.hasPrevPage"
                (click)="previousPage()"
                class="btn menuBtn"
              >
                Previous
              </button>
              <select
                (change)="limitChange()"
                [(ngModel)]="limit"
                class="custom-select"
              >
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <button
                [disabled]="!studentsData?.hasNextPage"
                (click)="nextPage()"
                class="btn menuBtn"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog [transitionOptions]="'0ms'"  header="Details" [(visible)]="detailsVisibile" [modal]="true" [style]="{width: '100vw',height:'100vh'}" [maximizable]="false"
    [draggable]="false" [resizable]="false">
    <p-table [value]="selectedSlots" responsiveLayout="stack" >
      <ng-template pTemplate="header">
          <tr>
            <th>Invoice No.</th>
            <th>Invoice Date</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Slot Timing</th>
              <th>Amount</th>
              <th>Paid Amount</th>
              <th>Due Amount</th>
              <th>Discount</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td><span class="p-column-title"><b> Invoice No.</b></span> <a style="text-decoration: underline;color: blue;"[routerLink]="['/invoiceDetail',selectedUserId,product._id]" routerLinkActive="router-link-active" >{{product.invoiceNo}}</a>  </td>
              <td><span class="p-column-title"><b> Invoice Date</b></span>{{product.invoiceDate |date:"dd/MM/yyyy"}}</td>
              <td><span class="p-column-title"><b> start Date</b></span>{{product.startDate| date: "dd/MM/yyyy"}}</td>
              <td><span class="p-column-title"><b> End Date</b></span>{{product.endDate| date: "dd/MM/yyyy"}}</td>
              <td><span class="p-column-title"><b> Timing</b></span>{{product.slotTiming}}</td>
              <td><span class="p-column-title"><b> Amount</b></span>{{product.amount}}</td>
              <td><span class="p-column-title"><b> Paid Amount</b></span>{{product.paidAmount}}</td>
              <td><span class="p-column-title"><b> Due Amount</b></span>{{product.dueAmount}}</td>
              <td><span class="p-column-title"><b> Discount</b></span>{{product.discount}}</td>
          </tr>
      </ng-template>
  </p-table>
        <!-- <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="detailsVisibile=false" label="Close" styleClass="p-button-text"></p-button>
        </ng-template> -->
</p-dialog>